/* App.js */

body {
  font-family: monospace;
}

#main-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15vh;
}

#controller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: .75rem;
}

#button-container {
  margin-bottom: 1rem;
}

#button-container button {
  margin: 0 .25rem;
}

#base-selector {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
}

.radio-thing {
  display: flex;
  margin-bottom: .5rem;
  align-items: baseline;
}

/* characterBox.js */

.character-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-box-body {
  border: 1px solid black;
  padding: 1rem;
  margin: 0 .25rem;
}

.character {
  font-size: 1.5rem;
}